<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="ForenLIMS is an open-source Laboratory Information Management System for forensic genetics, built with Django.">
        <meta name="keywords"
              content="forensic, genetics, LIMS, laboratory, Django, open-source">
        <title>Basic Django Project</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
